div.panel.panel-default(ng-repeat='t in vm.receipt.transactions')
	div.panel-heading.clearfix		
		h4.panel-title.pull-left.m-5-t(ng-click='t.is_collapsed = !t.is_collapsed')
			{{t.buyer_item.itemable.name | uppercase }}, {{t.buyer_item.itemable.concentration }} {{t.buyer_item.itemable.concentration_unit}}, {{t.buyer_item.itemable.manufacturer}}, {{t.buyer_item.itemable.mfg_location }}
		button.btn.btn-default.pull-right(ng-click='vm.editTransaction(t)' ng-if='t.is_editting === false')
			i.fa.fa-pencil
			| &nbsp;{{'EDIT' | translate }}
		button.btn.btn-default.pull-right.m-10-l(ng-click='t.is_editting = false; vm.edit_transaction = {}' ng-if='t.is_editting === true')
			i.fa.fa-times
			| &nbsp;{{'CANCEL' | translate }}					
		button.btn.btn-default.pull-right(ng-click='vm.updateTransaction()' ng-if='t.is_editting === true')
			i.fa.fa-floppy-o
			| &nbsp;{{'SAVE' | translate }}
	div.panel-body(uib-collapse='t.is_collapsed')
		.col-md-6.col-sm-6
			label.col-md-4.col-xs-5.control-label {{ 'QUANTITY' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{ t.amount }}
				p(ng-if='t.is_editting === true')
					input.form-control(type='number', placeholder="{{ 'QUANTITY' | translate }}", ng-model='vm.edit_transaction.amount' required)
			label.col-md-4.col-xs-5.control-label {{ 'MANUFACTURE_DATE' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{t.med_batch.mfg_date}}
				p.input-group(ng-if='t.is_editting ===  true')
					input.form-control(type='text', placeholder="{{'MANUFACTURE_DATE' | translate }}", uib-datepicker-popup='{{vm.pharmacare.getDatePickerDateFormat()}}', ng-model='vm.edit_transaction.med_batch.mfg_date', is-open='vm.status[$index].opened', max-date='vm.maxDate', datepicker-options='vm.dateOptions', ng-required='true', close-text='Close', required='required')
					span.input-group-btn
						button.btn.btn-default(type='button', ng-click='vm.open("status", $event, $index)')
							i.glyphicon.glyphicon-calendar					
			label.col-md-4.col-xs-5.control-label {{ 'EXPIRE_DATE' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{t.med_batch.expire_date}}
				p.input-group(ng-if='t.is_editting === true')
					input.form-control(type='text', placeholder="{{ 'EXPIRE_DATE' | translate }}", uib-datepicker-popup='{{vm.pharmacare.getDatePickerDateFormat()}}', ng-model='vm.edit_transaction.med_batch.expire_date', is-open='vm.expStatus[$index].opened', min-date='vm.maxDate', datepicker-options='vm.dateOptions', ng-required='true', close-text='Close', required='required')
					span.input-group-btn
						button.btn.btn-default(type='button', ng-click='vm.open("expStatus", $event, $index)')
							i.glyphicon.glyphicon-calendar								
			label.col-md-4.col-xs-5.control-label {{ 'FULFILL' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{t.performed | translate }}
				div.btn-group(ng-if='t.is_editting === true')
					label.btn.btn-default(ng-model='vm.edit_transaction.performed' uib-btn-radio='false') {{'false' | translate }}
					label.btn.btn-default(ng-model='vm.edit_transaction.performed' uib-btn-radio='true') {{'true' | translate }}				
			label.col-md-4.col-xs-5.control-label {{ 'PAID' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{t.paid | translate }}				
				div.btn-group(ng-if='t.is_editting === true')
					label.btn.btn-default(ng-model='vm.edit_transaction.paid' uib-btn-radio='false') {{'false' | translate }}
					label.btn.btn-default(ng-model='vm.edit_transaction.paid' uib-btn-radio='true') {{'true' | translate }}
			label.col-md-4.col-xs-5.control-label(ng-if='t.is_updated') {{ 'UPDATED_AT' | translate }}:
			.col-md-8.col-xs-7(ng-if='t.is_updated')
				p {{t.updated_at | amDateFormat:'lll'}}
		.col-md-6.col-sm-6
			label.col-md-4.col-xs-5.control-label {{'PURCHASE_PRICE' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{t.total_price | currency }}
				p.input-group(ng-if='t.is_editting === true')					
					span.input-group-addon ₫
					input.form-control(type='number', placeholder="{{ 'PURCHASE_PRICE' | translate }}", min='0' ng-model='vm.edit_transaction.total_price' required)					
			label.col-md-4.col-xs-5.control-label {{'AUTHOR' | translate }}:
			.col-md-8.col-xs-7
				p(ng-if='t.is_editting === false') {{t.purchase_user.first_name }} {{ t.purchase_user.last_name }}
				ui-select.m-10-b#user(ng-model='vm.edit_user' name='author' close-on-select='true' required ng-if='t.is_editting === true')
					ui-select-match(placeholder="{{ 'SELECT_USER' | translate }}") {{$select.selected.first_name}} {{$select.selected.last_name}}
					ui-select-choices(repeat='data in vm.store_users | filter:$select.search') {{data.first_name}} {{data.last_name}}									
			label.col-md-4.col-xs-5.control-label(ng-if='t.is_editting === true') {{'NOTE' | translate }}:
			.col-md-8.col-xs-7(ng-if='t.is_editting === true')
				textarea.form-control(type='text' ng-model='vm.edit_transaction.notes' row='4' required)
			.col-md-12.m-10-b
				io-barcode.m-10-t(code='{{t.med_batch.barcode}}' type='CODE128B' ng-if='t.med_batch.barcode' options='vm.barcode_style' ng-click='vm.print(t.med_batch)' id='code-{{t.med_batch.barcode}}')
			.col-md-12(ng-if='t.is_editting === false')
				p {{t.notes}}

			
