a.btn.btn-success edit qty.
a.btn.btn-success edit price
a.btn.btn-success add product
a.btn.btn-success
  i.fa.fa-arrow-up
a.btn.btn-success delete
a.btn.btn-success discount
a.btn.btn-success
a.btn.btn-success
  i.fa.fa-arrow-down