a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-default
a.btn.btn-success back
a.btn.btn-success
  i.fa.fa-arrow-left
a.btn.btn-success
  i.fa.fa-arrow-right
a.btn.btn-success reset
a.btn.btn-warning $5
a.btn.btn-warning $10
a.btn.btn-warning $15
a.btn.btn-warning $20