div(ng-include='"components/navbar/navbar.html"')

.col-md-12
  tabset
    tab(ng-repeat="tab in pc.tabs", heading="{{tab.title}}", active="tab.active", disable="tab.disabled")
      div(ng-include="tab.template")