div(ng-include='"components/navbar/navbar.html"')

.col-md-12
  tabset
    tab(heading='Category')
      div(ng-include='"app/products/includes/category.html"')
    tab(heading='Details')
      div(ng-include='"app/products/includes/details.html"')