@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@import 'flag-icon-css/less/flag-icon.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
@flag-icon-css-path: '/bower_components/flag-icon-css/flags';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.toast-custom-top-right {
  top: 55px;
  right: 12px;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'checkout/checkout.less';
@import 'inventory/inventory.less';
@import 'items/items.less';
@import 'main/main.less';
@import 'orders/orders.less';
@import 'products/products.less';
@import 'csSelect/csSelect.less';
@import 'modal/modal.less';
@import 'pageSelect/pageSelect.less';
@import 'pagination/pagination.less';
// endinjector