div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
      ul.breadcrumb
        li(ng-repeat='breadcrumb in iic.breadcrumbs')
          a(ng-href='/categories/{{breadcrumb.id}}') {{breadcrumb.name}}
      .row
        .col-md-3.col-sm-3
          img(ng-src='{{iic.APP_CONFIGURATION.SERVER_DEFAULT_PICTURE_ENDPOINT}}/{{iic.item.photo_thumb.photo}}' style='max-width:200px')
        .col-md-9.col-sm-9
          .col-md-9.col-sm-7.col-xs-12
            h3
              a(ng-href='/products/{{iic.item.itemable.id}}') {{iic.item.itemable.name}}
            h5 {{iic.item.itemable.manufacturer}}
          .col-md-3.col-sm-5.hidden-xs.text-right
            .btn.btn-default(ng-show='iic.mode.isReadMode()' ng-click='iic.mode.setAddMode()' style='margin-top:20px')
              i.fa.fa-plus
              | &nbsp;Add
            | &nbsp;&nbsp;
            .btn.btn-default(ng-show='iic.mode.isReadMode()' ng-click='iic.mode.setEditMode()' style='margin-top:20px')
              i.fa.fa-pencil
              | &nbsp;Edit
          .col-xs-12
            hr
            p
              h5(ng-class='getStatusCSSClass(iic.item)') {{iic.pharmacare.getStatus(iic.item)}}
              h3 Product Information
              table.table.table-condensed
                .form-horizontal
                  .form-group
                    label.control-label.col-sm-3 {{ 'CONCENTRATION' | translate }}
                    .col-sm-9
                      p.form-control-static {{iic.item.itemable.concentration}} {{iic.item.itemable.concentration_unit}}
                    label.control-label.col-sm-3 {{ 'MEDICINE_FORM' | translate }}
                    .col-sm-9
                      p.form-control-static {{iic.item.itemable.med_form}}
                    label.control-label.col-sm-3 {{ 'MFG_LOCATION' | translate }}
                    .col-sm-9
                      p.form-control-static {{iic.item.itemable.mfg_location}}
                    label.control-label.col-sm-3 Quantity
                    .col-sm-9
                      p.form-control-static(ng-show='!iic.mode.isEditMode()') {{iic.item.amount | number}}
                      input.form-control(type='number', placeholder="Quantity", min='0' ng-model='iic.item.amount' required ng-show='iic.mode.isEditMode()')
      form.form-horizontal(ng-show='iic.mode.isAddMode()')
        .form-group
          label.col-sm-2.control-label {{'MANUFACTURE_DATE' | translate }}
          .col-sm-10
            p.input-group
              input.form-control(type='text', placeholder="{{'MANUFACTURE_DATE' | translate }}", uib-datepicker-popup='{{pc.pharmacare.getDatePickerDateFormat()}}', ng-model='pc.medicine.med_batches_attributes[0].mfg_date', is-open='pc.status[$index].opened', max-date='pc.maxDate', datepicker-options='pc.dateOptions', ng-required='true', close-text='Close', required='required')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='pc.open("status", $event, $index)')
                  i.glyphicon.glyphicon-calendar
        .form-group
          label.col-sm-2.control-label {{ 'EXPIRE_DATE' | translate }}
          .col-sm-10
            p.input-group
              input.form-control(type='text', placeholder="{{ 'EXPIRE_DATE' | translate }}", uib-datepicker-popup='{{pc.pharmacare.getDateFormat()}}', ng-model='pc.medicine.med_batches_attributes[0].expire_date', is-open='pc.expStatus[$index].opened', min-date='pc.maxDate', datepicker-options='pc.dateOptions', ng-required='true', close-text='Close', required='required')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='pc.open("expStatus", $event, $index)')
                  i.glyphicon.glyphicon-calendar
        .form-group
          label.col-sm-2.control-label {{ 'PACKAGE' | translate }}
          .col-sm-10
            input.form-control(type='text', placeholder="{{ 'PACKAGE' | translate }}", ng-model='pc.medicine.med_batches_attributes[0].package' required)    
        .form-group
          label.col-sm-2.control-label {{ 'AMOUNT' | translate }}
          .col-sm-10
            input.form-control(type='number', placeholder="{{ 'AMOUNT' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].amount_per_pkg' ng-change="pc.updateTotalAmount()" required)
        .form-group
          label.col-sm-2.control-label {{ 'UNIT' | translate }}
          .col-sm-10
            input.form-control(type='number', placeholder="{{ 'UNIT' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].amount_unit' ng-change="pc.updateTotalAmount()" required)
        .form-group
          label.col-sm-2.control-label {{ 'TOTAL' | translate }}
          .col-sm-10
            input.form-control(type='number', placeholder="{{ 'TOTAL' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].total_units' disabled required)
        .form-group
          label.col-sm-2.control-label {{ 'PRICE' | translate }}
          .col-sm-10
            .input-group
              span.input-group-addon ₫
              input.form-control(type='number', placeholder="{{ 'PRICE' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].total_price' required)
        .col-xs-12.text-right
          .btn.btn-danger(ng-show='iic.mode.isAddMode()' ng-click='iic.mode.setReadMode()') Cancel
          | &nbsp;&nbsp;
          .btn.btn-primary(ng-show='iic.mode.isAddMode()' ng-click='iic.mode.setReadMode()') Add
          br
          br
      a(data-toggle='collapse', data-target='#collapse0')
        i.fa.fa-minus-square-o
        | &nbsp;&nbsp;Collapse
      hr
      form.form-horizontal(id='collapse0' ng-repeat='batch in iic.item.med_batches')
        .form-group
          label.col-md-2.col-xs-3.control-label Date
          .col-md-10.col-xs-9
            p.form-control-static {{iic.pharmacare | amDateFormat:'LLL'}}
        .form-group
          label.col-md-2.col-xs-3.control-label {{ 'TOTAL' | translate }}
          .col-md-10.col-xs-9
            p.form-control-static {{batch.total_units | number}}
        .form-group
          label.col-md-2.col-xs-3.control-label {{ 'PRICE' | translate }}
          .col-md-10.col-xs-9
            p.form-control-static {{batch.total_price | currency:'₫':0}}
        .form-group
          label.col-md-2.col-xs-3.control-label {{'MANUFACTURE_DATE' | translate }}
          .col-md-10.col-xs-9
            p.input-group
              input.form-control(type='text', placeholder="{{'MANUFACTURE_DATE' | translate }}", uib-datepicker-popup='{{iic.pharmacare.getDateFormat()}}', ng-model='batch.mfg_date', is-open='pc.status[$index].opened', max-date='pc.maxDate', datepicker-options='pc.dateOptions', ng-required='true', close-text='Close', required='required' ng-disabled='iic.mode.isReadMode()')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='pc.open("status", $event, $index)')
                  i.glyphicon.glyphicon-calendar
        .form-group
          label.col-md-2.col-xs-3.control-label {{ 'EXPIRE_DATE' | translate }}
          .col-md-10.col-xs-9
            p.input-group
              input.form-control(type='text', placeholder="{{ 'EXPIRE_DATE' | translate }}", uib-datepicker-popup='{{iic.pharmacare.getDateFormat()}}', ng-model='batch.expire_date', is-open='pc.expStatus[$index].opened', min-date='pc.maxDate', datepicker-options='pc.dateOptions', ng-required='true', close-text='Close', required='required' ng-disabled='iic.mode.isReadMode()')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='pc.open("expStatus", $event, $index)')
                  i.glyphicon.glyphicon-calendar
      .row
        .col-xs-12.text-right
          .btn.btn-danger(ng-show='iic.mode.isEditMode()' ng-click='iic.mode.setReadMode()') Cancel
          | &nbsp;&nbsp;
          .btn.btn-primary(ng-show='iic.mode.isEditMode()' ng-click='iic.mode.setReadMode()') Save
      br
      br