div(ng-include='"components/templates/navbar/navbar.html"')
.col-sm-12
  uib-tabset
    uib-tab(heading="{{'PURCHASES_RECEIPT' | translate }}", active='false', disable="tab.disabled" ng-click='oc.toPurchases()')
    uib-tab(heading="{{'SALES_RECEIPT' | translate }}", active='true', disable="tab.disabled")
      table.table.table-striped(st-pipe='oc.getSales', st-table='oc.sales')
        thead
          tr
            th {{'DATE' | translate }}
            th {{'NAME' | translate }}
            th {{'CONCENTRATION' | translate}}
            th {{'MANUFACTURER' | translate}}
            th {{'AMOUNT' | translate }}
            th {{'TOTAL' | translate }}
        tbody(ng-show='oc.is_loading_sales')
          tr(ng-repeat='sale in oc.sales | orderBy:"-created_at"' ng-click='oc.toOrder(sale)')
            td {{sale.created_at | amDateFormat:'lll'}}
            td        
              div.row(ng-repeat='t in sale.transactions | limitTo: 5') 
                span(ng-class="{'t-cancelled': t.status === 'deprecated'}")
                  {{t.inventory_item.itemable.name}}
              div.row(ng-show='sale.transactions.length > 5') ...
            td 
              div.row(ng-repeat='t in sale.transactions | limitTo: 5') 
                span(ng-class="{'t-cancelled': t.status === 'deprecated'}")
                  {{t.inventory_item.itemable.concentration}} {{t.inventory_item.itemable.concentration_unit}}
              div.row(ng-show='sale.transactions.length > 5') ...
            td 
              div.row(ng-repeat='t in sale.transactions | limitTo: 5') 
                span(ng-class="{'t-cancelled': t.status === 'deprecated'}")
                  {{t.inventory_item.itemable.manufacturer}}, {{t.inventory_item.itemable.mfg_location}}
              div.row(ng-show='sale.transactions.length > 5') ...
            td
              div.row(ng-repeat='t in sale.transactions | limitTo: 5') 
                span(ng-class="{'t-cancelled': t.status === 'deprecated'}")
                  {{t.amount}}
              div.row(ng-show='sale.transactions.length > 5') ...            
            td {{sale.total | currency }}
        tbody(ng-show='!oc.is_loading_sales')
          tr
            td.text-center(colspan='6')
              br
              i.fa.fa-spinner.fa-spin.fa-lg
              br
              br
        tfoot
          tr
            td.text-center(colspan='6')
              div(st-items-by-page='25', st-pagination='', st-template='components/templates/pagination/pagination.html')
    uib-tab(heading="{{'ADJUSTMENTS_RECEIPT' | translate }}", active='false', disable="tab.disabled" ng-click='oc.toAdjustments()')