div(ng-include='"components/templates/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 {{ 'GREETING' | translate }}
    p.lead {{ 'LEADING_GREETING' | translate:text }}
    img.logo(src='assets/images/logo_sym_100.svg', alt='Pharmacare')

br
.container
  .row
    .col-lg-12
      h1.page-header {{'FEATURES'|translate}}:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='feature in mc.features')
        li
          a(ng-href='{{feature.link}}', uib-tooltip='{{feature.info}}')
            | {{feature.name | translate}}
            //- button.close(type='button', ng-click='deleteThing(thing)') ×
  br
  br

footer.footer
  .container
    p
      | Pharmaplus v0.0.0
      = ' | '
      a(href='https://twitter.com/robindangTO') @robindangTO
      = ' | '
      a(href='https://github.com/robindang/tdpharma-client/issues?state=open') Issues