.col-sm-12
  .row(ng-init="products.selected=[]")
    .col-md-6
      h5 Choose a category
      .list-group
        a.list-group-item(ng-repeat="x in products.categories", ng-class="{active: x==products.selected[0]}", ng-click="products.selected[0]=x")
          span.badge {{x.children.length}}
          |  {{x.name}}
    .col-md-6
      h5 Secondary category
      .list-group
        a.list-group-item(ng-repeat="x in products.selected[0].children", ng-class="{active: x==products.selected[1]}", ng-click="products.selected[1]=x")
          |  {{x.name}}
  .row(style="text-align:right")
    .col-md-12
      button.btn.btn-primary(type="button", ng-click="products.nextTab()") Next