.col-sm-12
  h5 {{ 'ADD_PRODUCT_DETAIL' | translate }}
  form.form-horizontal(name='form' ng-submit='pc.saveDirectUpload()')
    .col-sm-12
      .col-sm-3
        div.drop(ngf-drop ng-model="pc.file" name='file' ngf-pattern="'image/*'" accept="image/*" ngf-resize="{width: 250, height: 250}")
          img.center-block(ngf-thumbnail="pc.file || pc.IMAGE_PLACEHOLDER")
          p(class="text-center") {{'DRAG_IMAGE' | translate }}
      .col-sm-9  
        .form-group
          label.col-sm-2.control-label(for='user') {{ 'AUTHOR' | translate }}
          .col-sm-10
            author-select(author='pc.selected_user')
        .form-group
          label.col-sm-2.control-label(for='name') {{ 'NAME' | translate }}
          .col-sm-10
            input#name.form-control(type='text', placeholder="{{ 'NAME' | translate }}", ng-model='pc.medicine.name' name='name' required)            
        .form-group
          label.col-sm-2.control-label(for='concentration') {{ 'CONCENTRATION' | translate }}
          .col-sm-10
            input#concentration.form-control(type='number', placeholder="{{ 'CONCENTRATION' | translate }}", ng-model='pc.medicine.concentration' required)        
        .form-group
          label.col-sm-2.control-label(for='unit') {{ 'CONCENTRATION_UNIT' | translate }}
          .col-sm-10
            input#unit.form-control(type='text', placeholder="{{ 'CONCENTRATION_UNIT' | translate }}", ng-model='pc.medicine.concentration_unit' required)
          .form-group
          label.col-sm-2.control-label(for='form') {{ 'MEDICINE_FORM' | translate }}
          .col-sm-10
            input#form.form-control(type='text', placeholder="{{ 'MEDICINE_FORM' | translate }}", ng-model='pc.medicine.med_form' required)
        .form-group
          label.col-sm-2.control-label(for='manufacturer') {{ 'MANUFACTURER' | translate }}
          .col-sm-10
            input#manufacturer.form-control(type='text', placeholder="{{ 'MANUFACTURER'| translate }}", ng-model='pc.medicine.manufacturer' required)
        .form-group
          label.col-sm-2.control-label(for='mfg_location') {{ 'MFG_LOCATION' | translate }}
          .col-sm-10
            input#mfg_location.form-control(type='text', placeholder="{{ 'MFG_LOCATION' | translate }}", ng-model='pc.medicine.mfg_location' required)
        .form-group
          label.col-sm-2.control-label {{ 'SALE_PRICE' | translate }}
          .col-sm-10
            .input-group
              span.input-group-addon ₫
              input.form-control(type='number', placeholder="{{ 'SALE_PRICE' | translate }}", min='0' ng-model='pc.salePrice' required)

    .col-sm-12.m-5-t
      .form-group
        label.col-sm-2.control-label {{'MANUFACTURE_DATE' | translate }}
        .col-sm-10
          p.input-group
            input.form-control(type='text', placeholder="{{'MANUFACTURE_DATE' | translate }}", uib-datepicker-popup='{{pc.pharmacare.getDatePickerDateFormat()}}', ng-model='pc.medicine.med_batches_attributes[0].mfg_date', is-open='pc.status[$index].opened', max-date='pc.maxDate', datepicker-options='pc.dateOptions', ng-required='true', close-text='Close', required='required')
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='pc.open("status", $event, $index)')
                i.glyphicon.glyphicon-calendar
      .form-group
        label.col-sm-2.control-label {{ 'EXPIRE_DATE' | translate }}
        .col-sm-10
          p.input-group
            input.form-control(type='text', placeholder="{{ 'EXPIRE_DATE' | translate }}", uib-datepicker-popup='{{pc.pharmacare.getDatePickerDateFormat()}}', ng-model='pc.medicine.med_batches_attributes[0].expire_date', is-open='pc.expStatus[$index].opened', min-date='pc.maxDate', datepicker-options='pc.dateOptions', ng-required='true', close-text='Close', required='required')
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='pc.open("expStatus", $event, $index)')
                i.glyphicon.glyphicon-calendar
      .form-group
        label.col-sm-2.control-label {{ 'PACKAGE' | translate }}
        .col-sm-10
          input.form-control(type='text', placeholder="{{ 'PACKAGE' | translate }}", ng-model='pc.medicine.med_batches_attributes[0].package' required)    
      .form-group
        label.col-sm-2.control-label {{ 'AMOUNT_PER_PACKAGE' | translate }}
        .col-sm-10
          input.form-control(type='number', placeholder="{{ 'AMOUNT_PER_PACKAGE' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].amount_per_pkg' ng-change="pc.updateTotalAmount()" required)
      .form-group
        label.col-sm-2.control-label {{ 'NUM_PACKAGE' | translate }}
        .col-sm-10
          input.form-control(type='number', placeholder="{{ 'NUM_PACKAGE' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].number_pkg' ng-change="pc.updateTotalAmount()" required)
      .form-group
        label.col-sm-2.control-label {{ 'TOTAL' | translate }}
        .col-sm-10
          input.form-control(type='number', placeholder="{{ 'TOTAL' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].total_units' disabled required)
      .form-group
        label.col-sm-2.control-label {{ 'PURCHASE_PRICE' | translate }}
        .col-sm-10
          .input-group
            span.input-group-addon ₫
            input.form-control(type='number', placeholder="{{ 'PURCHASE_PRICE' | translate }}", min='0' ng-model='pc.medicine.med_batches_attributes[0].total_price' required)
      .form-group
        .col-sm-offset-2.col-sm-10.text-right
          button.btn.btn-primary(type='submit') {{ 'SAVE' | translate }}
      br
      br
    