div(ng-include='"components/navbar/navbar.html"')

.col-sm-12.inventory
  table.table.table-striped(st-pipe='ic.callServer', st-table='ic.displayed')
    thead
      tr
        th(colspan=8)
          .form-inline.col-md-12
            .form-group.col-md-3
              .btn-group(uib-dropdown='')
                button#single-button.btn.btn-primary(type='button', uib-dropdown-toggle='', ng-disabled='ic.getNumberOfRowsSelected()===0')
                  | Action on {{ic.getNumberOfRowsSelected()}} selected 
                  span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='single-button')
                  li(role='menuitem')
                    a(href='#') Delete
            .form-group.col-md-6
              .input-group                  
                ui-select#medicine(ng-model='ic.selected_med' name='medicine' close-on-select='true' required)
                  ui-select-match(placeholder='Search for...') {{$select.selected.name}}, {{$select.selected.concentration}} {{$select.selected.concentration_unit}}, {{$select.selected.manufacturer}}
                  ui-select-choices(repeat='data.name as data in ic.store_medicines | filter:$select.search' refresh='ic.searchMedicine($select.search)')                      
                    small
                      span
                        img.photo-search(ng-src="{{ data.photo_thumb.photo_link }}")                        
                        | {{data.name}}, {{data.concentration}} {{data.concentration_unit}}, {{data.manufacturer}}
                span.input-group-btn
                  button.btn.btn-default(type='button') Search
            .form-group
              span {{ic.numberOfResults}} Item(s)
          .form-inline.col-md-12.clearfix
            .form-group.col-md-3.pull-left
              label.control-label Filters
              span &nbsp;&nbsp;
              .btn-group
                label.btn.btn-default(ng-model='ic.status', uib-btn-radio="''", ng-change='ic.updateItemList()') All
                label.btn.btn-default(ng-model='ic.status', uib-btn-radio="'active'", ng-change='ic.updateItemList()') On Sale
                label.btn.btn-default(ng-model='ic.status', uib-btn-radio="'inactive'", ng-change='ic.updateItemList()') Off Sale
            .form-group.pull-right
              a.btn.btn-primary(href="/products") Add a product
      tr
        th
          input(type='checkbox' ng-click='ic.selectAllRows($event)')
        th Name
        th Status
        th Category
        th Updated
        th Price
        th Quantity
        th Action
    tbody(ng-show='!ic.isLoading')
      tr(ng-repeat='row in ic.displayed')
        td(cs-select="row")
        td
          a(ng-href='/inventory/{{row.id}}') {{row.itemable.name}}
        td
          span(ng-class='ic.pharmacare.getStatusCSSClass(row)') {{ic.pharmacare.getStatus(row)}}
        td
          a(href='/categories/{{row.category.id}}') {{row.category.name}}
        td {{row.updated_moment.toString() | amDateFormat:'LLL'}}
        td 
        td {{row.amount | number}}
        td
          .input-group
            .btn-group(uib-dropdown='', style='min-width:100px')
              button#split-button.btn.btn-default(type='button' go-click="/inventory/{{row.id}}#edit") Edit
              button.btn.btn-default(type='button', uib-dropdown-toggle='')
                span.caret
                span.sr-only Split button!
              ul.dropdown-menu(role='menu', aria-labelledby='split-button')
                li(role='menuitem')
                  a(href='/inventory/{{row.id}}#edit') Edit
                li(role='menuitem')
                  a(href='/inventory/{{row.id}}#add') Add
                li.divider
                li(role='menuitem')
                  a(href='#') Stop Sale
    tbody(ng-show='ic.isLoading')
      tr
        td.text-center(colspan='8')
          br
          i.fa.fa-spinner.fa-spin.fa-lg 
          br
          br
    tfoot
      tr
        td.text-center(colspan='8')
          div(st-items-by-page='25', st-pagination='', st-template='components/pagination/pagination.html')

