div(ng-include='"components/templates/navbar/navbar.html"')

.container
  .row
    .col-md-6
      p Press ESC to clear
      br
      .well
        h3 Order Confirmation
        .row
          .col-xs-4 Item
          .col-xs-4 Quantity
          .col-xs-4 Total
          .col-xs-4(ng-repeat-start='(barcode, product) in ccc.cart.products track by barcode') {{ product.inventory_item.itemable.name }} 
          .col-xs-4 {{ product.quantity }}
          .col-xs-4(ng-repeat-end) {{ ( product.inventory_item.sale_price.amount * product.quantity) | currency }}
    .col-md-6
        h3
          | Total: 
          span.text-danger.ng-binding {{ccc.cart.total | currency}}
        h3
          | Change Due: 
          span.text-success.ng-binding {{ ccc.calcChangeDue(ccc.totalPaid, ccc.cart.total) | currency}}
        form.form-horizontal.ng-pristine.ng-valid-min.ng-invalid.ng-invalid-required(name='checkoutForm', ng-submit='checkoutForm.$valid && print()')
          .form-group.has-error(ng-class="{ 'has-error': checkoutForm.totalPaid.$error.required }")
            .input-group
              .input-group-addon $
              input#checkoutPaymentAmount.form-control.input-lg.ng-pristine.ng-untouched.ng-valid-min.ng-invalid.ng-invalid-required(type='number', name='totalPaid', step='any', min='0', ng-model='ccc.totalPaid', required='' disabled)
          p.text-danger.ng-hide(ng-show='checkoutForm.totalPaid.$error.required && checkoutForm.$dirty') Enter payment amount.
          button.btn.btn-primary.btn-lg.lead(type='submit', ng-disabled='checkoutForm.totalPaid.$error && ccc.totalPaid < ccc.cart.total' ng-click='ccc.checkout(ccc.cart)')
            i.fa.fa-shopping-cart
            | &nbsp;Checkout
