div(ng-include='"components/templates/navbar/navbar.html"')

.container
  .row
    .col-md-6
      | how much sales (dollars) - 1 day by default
    .col-md-6
      | how much purchases (quantity) - name quantity amount
  .row
    .col-md-6
      | most recent 10 purchase
    .col-md-6
      | most recent 10 sold