div(ng-include='"components/templates/navbar/navbar.html"')

.container
  .row
    .col-md-12
      .text-right
        a.btn.btn-primary(href='#' ng-click='cc.proceedToCheckout(cc.cart)')
          i.fa.fa-shopping-cart
          | &nbsp;Proceed to checkout  
      p
        | Press ESC to clear
        br
        | Type barcode and press ENTER to add item
      p Barcode: {{cc.barcode}}
      p 
    .text-center
      span.lead Total
      br
      h1.text-success.checkout-total-price
        | $
        span(odometer='cc.cart.total')
      checkout(cart-total='cc.cart.total', print-receipt='cc.printReceipt(payment)')
    table.table-pos.table.table-responsive.table-striped.table-hover
      thead
        tr
          td.text-center(colspan='6')
            add-manual-item.pull-left(add-item='cc.addManualItem(item)')
        tr.titles
          th Name
          th Price
          th Quantity
          th Total
          th
      tbody
        tr(ng-repeat='(barcode, product) in cc.cart.products track by barcode')
          td.col-md-2
            p.form-control-static
              a(ng-href='/inventory/{{product.inventory_item.id}}') {{ product.inventory_item.itemable.name }} 
          td.col-md-1
            p.form-control-static {{ product.inventory_item.sale_price.amount | currency }} 
          td.col-md-2
            .input-group
              span.input-group-btn
                button.btn.btn-default(ng-click='cc.removeQuantity(product)')
                  i.glyphicon.glyphicon-minus
              input.form-control(type='number', step='1', min='1', ng-model='product.quantity', ng-change='cc.updateCartTotals()', required='')
              span.input-group-btn
                button.btn.btn-default(ng-click='cc.addQuantity(product)')
                  i.glyphicon.glyphicon-plus
          td.col-md-2
            p.form-control-static {{ ( product.inventory_item.sale_price.amount * product.quantity) | currency }}
          td.col-md-2
            button.btn.btn-danger(ng-click='cc.removeProductFromCart(barcode)')
              i.glyphicon.glyphicon-trash
        tr(ng-if='!cc.cart.products.length')
          td(colspan='6') Scan products or add unlisted item above.
