.checkout
  div(ng-include='"components/navbar/navbar.html"')

  .main
    .col1
      .list
        div(ng-include='"/app/checkout/includes/list.html"')
      div.list-controls(ng-include='"/app/checkout/includes/list-controls.html"')
      .totals
        div(ng-include='"/app/checkout/includes/totals.html"')
    .col2
      div.numpad(ng-include='"/app/checkout/includes/numpad.html"')
      div.macro(ng-include='"/app/checkout/includes/macro.html"')
    .col3
      div.product-finder(ng-include='"/app/checkout/includes/product-finder.html"')
      a.btn.btn-warning.btn-pay 
        h1 Pay

  style.
    html, body, body > div {
      height: 100%;
    }
